.name-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 0 4rem;
}

.name-container h3 {
  border: 0.1rem solid black;
  margin: 0 2rem;
  margin: 15px 1rem;
  width: 12rem;
  height: 4rem;
}

h4 {
  margin-left: 37rem;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.born-1900-objects {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.11rem;
}

.birth-before-1990 {
  border: 0.1rem solid black;
  padding: 0 2rem;
  width: 18rem;
}
